/* FONTS
font-family: 'Cinzel', serif; weight: 400, 700
font-family: 'Raleway', sans-serif; weight: 300, 400, 700
 */

/* =======================
GLOBAL 
======================= */ 

body {
    font-family: 'Cinzel', serif;
    background: #D6D6D6;
    background-image: url(../images/background.jpg);
    background-color: rgb(31, 30, 30);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (min-width: 1000px) {
    .container {
        max-width: 85%;
    }
}

input {
    background-color: #D6D6D6;
    border: none;
    margin: 20px 0px 40px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: solid;
}

ol li {
    font-family: 'Raleway', sans-serif;
}

.full-height {
    min-height: 100vh;
}

.small-btn {
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color: #d6d6d6;
    background-color: #585555;
    border-radius: 0;
}

.small-btn:hover, .join-btn:focus {
    color: white;
    background: #302e2e;
    transition: 0.1s ease-in-out;
}

/* =======================
JOINGAME 
======================= */ 

.dialog {
    background-color: #ffffffe0;
    padding: 40px;
    margin: 40px 0;
}

.dialog-label {
    margin: 15px 0px;
    font-weight: 700;
}

.join-btn {
    margin: 40px;
    min-width: 200px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.2em;
    color: #d6d6d6;
    background-color: #585555;
    border-radius: 0;
}

.join-btn:hover, .join-btn:focus {
    color: white;
    background: #302e2e;
    transition: 0.1s ease-in-out;
}

.join-dialog {
    width: 500px;
}

.error {
    font-weight: lighter;
    width: 100%;
    background-color: rgba(128, 12, 12, 0.55);
    padding: 10px 100px;
    margin: 20px 0 -20px;
}
/* =======================
GAMELOBBY
======================= */ 

.player-box {
    display: flex;
    /* font-family: 'Raleway', sans-serif; */
    justify-content: center;
    margin: 20px 0px;
    padding: 20px 10px;
    color: #302e2e;
    border-top: 4px solid rgb(58, 58, 58);
    border-bottom: 4px solid rgb(240, 201, 74);
    border-left: 4px solid #ffffff00;
    border-right: 4px solid #ffffff00;
    align-items: center;
    transition: 0.15s ease-in-out;
}

.player-box:hover {
    border-left: 4px solid rgb(58, 58, 58);
    border-right: 4px solid rgb(240, 201, 74);
    border-top: 4px solid #ffffff00;
    border-bottom: 4px solid #ffffff00;
    font-weight: bold;
    transition: 0.15s ease-in-out;
}

.player-ready {
    border-bottom-color: rgb(15, 184, 0);
}

.player-ready:hover {
    border-right-color: rgb(15, 184, 0);
}

/* =======================
BOARDSELECTOR
======================= */ 

.board {
    display: inline-block;
    width: 125px; 
    margin: 10px;
}

.board-card, .card-img {
    height: 175px;
    width: 125px;
}

.card-img {
    border: 8px solid black;
    border-radius: 4px;
}

.board-name {
    border-bottom-color: rgb(147, 0, 184);
}

.board-name:hover {
    border-right-color: rgb(147, 0, 184);
}

/* =======================
BOARD
======================= */ 

.my-board {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.gradient-top {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
}

.gradient-bottom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* =======================
GAME
======================= */ 

.hand-container, .card-info-container {
    width: 100%;
    background-color: #00000077;
    padding: 40px;
    margin: 20px 0 0 !important;
}

.hand-card {
    width: 177px;
    height: 75px;
}

.built-container {
    background-color: #00000077;
    padding: 70px 30px 30px;
    margin: 0;
    max-height: 275px;
}

.built-card {
    margin-top: -40px;
    width: 177px;
    height: 75px;
}

.card-wrapper {
    width: 177px;
    height: 35px;
}

.cost-met {
    border-bottom: 3px solid green;
}

.cost-not-met {
    border-bottom: 3px solid rgb(255, 81, 0);
}

.option-btn {
    margin: 20px 0 0;
    min-width: 250px;
    width: 100%;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.3em;
    color: #d6d6d6;
    background-color: rgb(2, 97, 2);
    border-radius: 0;
}

.option-btn:disabled {
    background-color: #615d5d;
}