/* FONTS
font-family: 'Cinzel', serif; weight: 400, 700
font-family: 'Raleway', sans-serif; weight: 300, 400, 700
 */

/* =======================
GLOBAL 
======================= */ 
:root {
    --orange: rgb(255, 81, 0);
    --green:  rgb(17, 158, 4);
    --yellow: rgb(240, 201, 74);
    --dark: rgb(58, 58, 58);
    --purple: rgb(147, 0, 184);
    --invisible: #ffffff00;
    --dark-background: #000000a0;
    --background-image: url(../images/background.jpg)
}

body {
    font-family: 'Cinzel', serif;
    background: #D6D6D6;
    background-image: var(--background-image);
    background-color: var(--dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    --shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
    --large-shadow : 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 20px 30px 0 rgba(0, 0, 0, 0.28);
}

.shadow {
    box-shadow: var(--shadow);
}

.row {
    width: 100%;
}

.btn {
    border-radius: 0 !important;
}

.btn-outline-light:focus {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #212529;
}

.btn-outline-dark:focus {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

input {
    background-color: #D6D6D6;
    border: none;
    margin: 20px 0px 40px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: solid;
}

ol li {
    font-family: 'Raleway', sans-serif;
}

.full-height {
    min-height: 100vh;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height:800px) {
    .board-header {
        margin-top: -10px;
        margin-bottom: -25px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }
}

/* =======================
JOINGAME 
======================= */ 

.dialog {
    background-color: #ffffffe0;
    padding: 40px;
    margin: 40px 0;
}

.dialog-label {
    margin: 15px 0px;
    font-weight: 700;
}

.join-dialog {
    width: 500px;
}

.error {
    font-weight: lighter;
    width: 100%;
    background-color: rgba(128, 12, 12, 0.55);
    padding: 10px 100px;
    margin: 20px 0 -20px;
}

/* =======================
GAMELOBBY
======================= */ 

.player-box {
    margin: 20px 0px;
    padding: 20px 10px;
    color: var(--dark);
    border-top: 4px solid var(--dark);
    border-bottom: 4px solid var(--yellow);
    border-left: 4px solid var(--invisible);
    border-right: 4px solid var(--invisible);
    transition: 0.15s ease-in-out;
}

.player-box:hover {
    border-left: 4px solid var(--dark);
    border-right: 4px solid var(--yellow);
    border-top: 4px solid var(--invisible);
    border-bottom: 4px solid var(--invisible);
    font-weight: bold;
    transition: 0.15s ease-in-out;
}

.player-ready {
    border-bottom-color: var(--green);
}

.player-ready:hover {
    border-right-color: var(--green);
}

/* =======================
BOARDSELECTOR
======================= */ 

.board {
    display: inline-block;
    width: 125px; 
    margin: 10px;
}

.board-card, .card-img {
    height: 175px;
    width: 125px;
}

.card-img {
    border: 8px solid black;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.board-name {
    border-bottom-color: var(--purple);
}

.board-name:hover {
    border-right-color: var(--purple);
}

/* =======================
PLAYERBOARD
======================= */ 

.my-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.gradient-top {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
}

.gradient-bottom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* =======================
PLAYERBOARD > STAGEINFO
======================= */ 

.stage-built {
    color: var(--green);
}

.stage-icon-container {
    height: 80px;
    margin: 0;
}

.stage-icon {
    height: 80px;
    width: 80px;
}

.gray-scale {
    filter: grayscale(100%);
}

.popover {
    background-color: rgba(0,0,0,0.4);
    border: none;
}

.popover-header, .popover-body {
    text-align: center;
    padding: 10px 20px;
    font-family: 'Cinzel', serif;
    color: white;
    background-color: rgba(0,0,0,0.2);
    border: none;
}

.popover-header::before {
    display: none !important;
    width: 0;
}

.popover-header {
    border-bottom: 1px solid #ffffff30;
}

.popover .arrow {
    visibility: hidden;
}

/* =======================
GAME
======================= */ 

.hand-container, .card-info-container {
    background-color: var(--dark-background);
    padding: 25px 15px;
    margin: 0 0 10px;
    min-height: 250px;
    display: flex;
    box-shadow: var(--shadow);
}

.card-info-container {
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.hand-card {
    width: 177px;
    height: 75px;
    transition: 0.1s ease-in-out;
}

.selected-card {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
    margin: 0 8px;
}

.not-selected-card {
    opacity: 0.9;
    transition: 0.1s ease-in-out;
}

.action-btn {
    width: 100% !important;
    min-height: 55px;
}

.info-container {
    height: 300px;
    width: 100%;
    background-color: var(--dark-background);
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
}

.built-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 10px 30px 20px;
    box-shadow: var(--shadow);
}

.built-card {
    width: 154px;
    height: 65px;
}

.card-type-label {
    text-align: left;
    z-index: 5;
    font-size: 0.8em;
    color: white;
    padding: 7px 0 3px;
    margin: 0;
}

.card-wrapper {
    width: 154px;
    height: 35px;
    transition: 0.15s ease-in;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.2);
}

.card-wrapper:hover, .card-wrapper:focus {
    height: 55px;
    margin-top: -20px !important;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.card-type-container {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.last-card {
    border: 1px solid white;
}

.cost-met {
    border-bottom: 3px solid var(--green);
}

.cost-not-met {
    border-bottom: 3px solid var(--orange);
}

.cost-icon {
    height: 35px;
    width: 35px;
    padding: 5px;
}

.military-row {
    padding: 15px 0;
    display: flex;
    align-items:center;
    border-bottom: 1px solid rgba(158, 157, 157, 0.3);
    margin: 0 !important;
}

.military-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.military-icon {
    height: 55px;
    width: 55px;
    padding: 5px;
}

.info-container {
    height: 330px;
    width: 100%;
    background-color: var(--dark-background);
    padding: 20px;
    margin-bottom: 10px;
}

.board-preview {
    height: 200px;
    margin: 25px;
    background-color: #ffffff30;
}

.card-chain {
    padding: 15px 0;
    display: flex;
    align-items:center;
    border-bottom: 1px solid rgba(158, 157, 157, 0.3);
    margin: 0 !important;
    scroll-snap-align: start none;
}

.chain-container {
    overflow: auto;
    scroll-snap-type: y proximity;
    scroll-padding: 10px;
}


.view-btn:hover {
    box-shadow: var(--shadow);
}

@media (max-height:800px) {
    .hand-card {
        width: 165px;
        height: 70px;
    }

    .view-btn {
        font-size: 12px;
    }

    .hand-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* =======================
GAME -> PLAYER NAV
======================= */ 

.player-nav { 
    position: absolute;
    width: 80px;
    height: 75%;
    background-color: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, minmax(120px, 1fr));
    row-gap: 10px;
}

.player-tile {
    height: 100%;
    padding: 0 !important;
    transform: translateX(80px) translateX(-100%);
    z-index: 4;
    background-color: #00000030;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 3px solid black;
    box-shadow: var(--shadow);
}

.hoverable-tile {
    transform: translateX(80px) translateX(-100%);
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
}

.hoverable-tile:hover {
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    justify-content: flex-start;
    background-color: var(--dark-background);
}

.player-tile-ready {
    border-right: 4px solid var(--green);
}

.player-tile-waiting {
    border-right: 4px solid var(--yellow);
}

.player-nav-card {
    max-height: 65px;
    padding: 0;
    border: 1px solid white;
    margin: 0 0 0 20px;
}

.player-tile h3 {
    margin: 0 20px;
    font-size: 1.2em;
    display: inline-block;
}

.player-tile div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.player-tile div p{
    margin: 0;
    font-size: 1.2em;
}

.player-name {
    text-align: center;
    width: 80px;
    margin: 0 !important;
}

.player-view {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 80px;
}

/* =======================
PLAYERBOARD -> FEED
======================= */ 

.sticky-wrapper {
    position: relative;
    padding: 0;
}

.feed-heading {
    position: sticky;
    top: 0;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    font-weight: lighter;
}

.feed-message {
    padding: 15px;
    display: inline-block;
}

.feed-turn {
    margin: 0 !important;
    border-bottom: 1px solid rgba(158, 157, 157, 0.3);
}

.feed-age {
    margin: 0 !important;
    border-bottom: 1px solid rgba(158, 157, 157, 0.5);
}

.feed-container {
    overflow: auto;
    scroll-snap-type: y proximity;
    scroll-padding: 20px;
}

.feed-item-image {
    width: 110px;
    padding: 10px 10px 10px 0;
    display: inline-block;
    text-align: center;
}

.feed-card {
    width: 100px;
    height: 42px;
    margin: 5px 0;
}

.feed-coin {
    height: 35px;
}

.feed-icon {
    height: 70px;
}
.feed-item {
    width: 100%;
    scroll-snap-align: start none;
    display: flex;
    align-items: center;
}
