/* FONTS
font-family: 'Cinzel', serif; weight: 400, 700
font-family: 'Raleway', sans-serif; weight: 300, 400, 700
 */

/* =======================
GLOBAL 
======================= */ 

body {
    margin: 50;
    font-family: 'Cinzel', serif;
    background: #D6D6D6;
    background-image: url(../images/background.jpg);
}

input {
    background-color: #D6D6D6;
    border: none;
    margin: 20px 0px 40px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: solid;
}

ol li {
    font-family: 'Raleway', sans-serif;
}

.full-height {
    min-height: 100vh;
}

.small-btn {
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color: #d6d6d6;
    background-color: #585555;
    border-radius: 0;
}

.small-btn:hover, .join-btn:focus {
    color: white;
    background: #302e2e;
    transition: 0.1s ease-in-out;
}

/* =======================
JOINGAME 
======================= */ 

.dialog {
    background-color: #ffffffe0;
    padding: 40px;
    margin: 40px 0;
}

.dialog-label {
    margin: 15px 0px;
    font-weight: 700;
}

.join-btn {
    margin: 40px;
    min-width: 200px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.2em;
    color: #d6d6d6;
    background-color: #585555;
    border-radius: 0;
}

.join-btn:hover, .join-btn:focus {
    color: white;
    background: #302e2e;
    transition: 0.1s ease-in-out;
}

.join-dialog {
    width: 500px;
}

.error {
    font-weight: lighter;
    width: 100%;
    background-color: rgba(128, 12, 12, 0.55);
    padding: 10px 100px;
}
/* =======================
GAMELOBBY
======================= */ 

.player-box {
    display: flex;
    /* font-family: 'Raleway', sans-serif; */
    justify-content: center;
    margin: 20px 0px;
    padding: 20px 10px;
    color: #302e2e;
    border-top: 4px solid rgb(58, 58, 58);
    border-bottom: 4px solid rgb(240, 201, 74);
    border-left: 4px solid #ffffff00;
    border-right: 4px solid #ffffff00;
    align-items: center;
    transition: 0.15s ease-in-out;
}

.player-box:hover {
    border-left: 4px solid rgb(58, 58, 58);
    border-right: 4px solid rgb(240, 201, 74);
    border-top: 4px solid #ffffff00;
    border-bottom: 4px solid #ffffff00;
    font-weight: bold;
    transition: 0.15s ease-in-out;
}

.player-ready {
    border-bottom-color: rgb(15, 184, 0);
}

.player-ready:hover {
    border-right-color: rgb(15, 184, 0);
}
/* =======================
BOARDSELECTOR
======================= */ 

.board {
    display: inline-block;
    width: 125px; 
    margin: 10px;
}

.board-card, .card-img {
    height: 175px;
    width: 125px;
}

.card-img {
    border: 8px solid black;
    border-radius: 4px;
}